html {
  background: url(../images/cliff.jpg) no-repeat top left;
}

#bear {
  position: absolute;
  top: 100px;
  right: 0;
}

/* Write your solution here */
@media only and screen (min-width: 1150px){
  
  #bear {
    position: fixed;
    visibility: hidden;
  }
}
